{% extends '../base.html' %}

{% block content %}

<div class="container mx-auto p-5">
    <div class="p-5 shadow">
            <h2 class="alert alert-success text-center">Apply for Job: {{ job.title }}</h2>
            <hr>
        <form action="{% url 'applyjob' id=job.id %}" method="post" enctype="multipart/form-data">

            {% csrf_token %}
            {{ form.as_p }}
            
            <button type="submit"  class="btn btn-success mt-2" >Submit Application</button>
        </form>
    </div>
</div>
    
{% endblock %}